@using System.Globalization
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using PrintMood.Config

@model PrintMood.Models.ViewModel

@inject IViewLocalizer LocView
@inject IOptions<LocalizationConfig> LocalizationOptions

@{
    ViewData["Title"] = LocView["Printing on singlets, t-shirts and svitshots"];
}

@functions
{
    string WithLang(string url)
    {
        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
        return string.Compare(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName, requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName, StringComparison.OrdinalIgnoreCase) == 0
         ? url : CultureInfo.CurrentUICulture.TwoLetterISOLanguageName + "/" + url;
    }

    string ReCaptchaLang()
    {
        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
        return string.Compare(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName, requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName, StringComparison.OrdinalIgnoreCase) == 0
         ? string.Empty : "&hl=" + CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    }
}

@section scripts
{    
    <environment names="Development">
        <script src="~/lib/gmaps/gmaps.js"></script>
        <script src="//maps.google.com/maps/api/js?key=AIzaSyDycDBp8bFUdi7068249K-9lgLZgWf7mko&callback=initGMap"></script><!--google map contact page-->
        <script src="//www.google.com/recaptcha/api.js?render=onload@(ReCaptchaLang())" async defer></script>
    </environment>
    
    <environment names="Staging,Production">
        <script src="//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"
                asp-fallback-src="~/lib/gmaps/gmaps.min.js"
                asp-fallback-test="GMaps">

        </script>

        <script src="//maps.google.com/maps/api/js?key=AIzaSyDycDBp8bFUdi7068249K-9lgLZgWf7mko&callback=initGMap"></script><!--google map contact page-->
        <script src="//www.google.com/recaptcha/api.js?render=onload(@ReCaptchaLang())" async defer></script>
    </environment>
}

@section css
{
}

@Html.Hidden("texts.prev", @LocView["Previous"].Value)
@Html.Hidden("texts.next", @LocView["Next"].Value)

<div id="top" class="header">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/images/slider/p1.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption flex-caption-shift2">@LocView["People choose us for our creativity, focused on their theme, resulting in an amazing prints, meeting moods, for quick work and high quality."] <a href="#order">@LocView["Order your printing"]</a></p>
            </li>
            <li>
                <img src="~/images/slider/p2.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption">@LocView["We print on T-shirts, svitshots and hoodies"]</p>
            </li>
            <li>
                <img class="flipped" src="~/images/slider/p3.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption">@LocView["We are passionated on our job and make plaenty of creative new printings every week to meet people moods"]</p>
            </li>
            <li>
                <img src="~/images/slider/p4.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption">@LocView["We provide wholesale supplies as well as retail"]</p>
            </li>
            <li>
                <img class="flipped" src="~/images/slider/p5.jpg" alt="slider" asp-append-version="true" />
                <p class="flex-caption flex-caption-shift">@LocView["We may creatively paint thematic printings for you as well as print yours one"]</p>
            </li>
        </ul>
    </div>
</div>

<!-- Services -->
<div id="services" class="services ha-waypoint page-section" data-animate-down="ha-header-small" data-animate-up="ha-header-large">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class="container TitleSection">
                    <header class="page-head">
                        <h1>
                            @LocView["Who we <small> are</small>"]
                        </h1>
                    </header>
                </div>

                <div class="story-para">
                    <p class="first">Frustrated with expensive local printers for your customized t-shirt needs? Cheap t shirt printing with unparalleled quality is a click away with CustomInk. You can design your own t-shirt with ease - our Virtual Lab makes it a snap to use your own artwork, creating and ordering your tshirts in just minutes. Our Lab gives you the ability to preview what your screen printed t-shirt will look like, and our service team is available seven days a week to help you; they'll even make suggestions on how to keep your order costs down. An expert artist reviews every order, ensuring that your t shirt screen printing looks awesome. We offer a money-back guarantee, and our standard free shipping means your order will arrive within 14 days. We have a rush service with delivery in 7 days.</p>
                    <p>Designing your own tshirts is easy and fast with CustomInk. And, if you've never ordered custom clothing on the Internet before, not to worry. We've got t shirt printing down to a science, while preserving your art.</p>
                </div>

                <div class="row">
                    <div class="ser_wrap_3">
                        <div class="col-xs-12 col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    <div class="icon_ser">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <div class="wrap">
                                        <h3>Print your pictures</h3>
                                        <p>We do retail printing. You may send us your pictures and choose a shirt type and color to print on. The average cost is 25 euros.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon_ser">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                    <div class="wrap">
                                        <h3>Deliver orders</h3>
                                        <p>We provide timely-fasioned delivery of your orders to home. In Bratislava we gurantee delivering in 3 days since you order recieved. Delivering to other locations is accomplished by post.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4 hidden-xs hidden-sm">
                            <img src="~/images/TradeMark.gif" alt="slider" asp-append-version="true" style="max-width: 500px; width: 100%; height: auto;" />
                        </div>

                        <div class="col-xs-12 col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    <div class="icon_ser icon_ser-right">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="wrap wrap-right">
                                        <h3>Design amazing prints</h3>
                                        <p>We are passioned on fitting in people moods and have a solid experience in designing amazing prints. We print on different shirts: T-Shirts, Svitshots and Hoodies. In addition, we use cloth of different colors and type: cotton, lycra.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon_ser icon_ser-right">
                                        <i class="fa fa-dashboard"></i>
                                    </div>
                                    <div class="wrap wrap-right">
                                        <h3>Supply bulks</h3>
                                        <p>We supply printed shirts in bulks to retailers, starting from 10 shirts. The discount for 50 shirts is 5%, for 100 - 10%, for 200+ - 15%.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="about_wrap_one">
                        <div class="hexagon" style="float: right; margin-top:-20px">
                            <a href="#"> <span class="mask"></span><img src="~/images/trofimov.jpg" asp-append-version="true" /> </a>
                            <div class="portfolio-title">
                                <h4>@LocView["Vladimir Trofimov"]<span>@LocView["CEO and the Founder"]</span></h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Services -->
<!-- Portfolio -->
<div id="portfolio" class="portfolio page-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class=" container TitleSection">
                    <header class="page-head">
                        <h1>
                            @LocView["Why people choose <small> Us</small>"]
                        </h1>
                    </header>
                </div>

                <div class="story-para">
                    <p class="first">Frustrated with expensive local printers for your customized t-shirt needs? Cheap t shirt printing with unparalleled quality is a click away with CustomInk. You can design your own t-shirt with ease - our Virtual Lab makes it a snap to use your own artwork, creating and ordering your tshirts in just minutes. Our Lab gives you the ability to preview what your screen printed t-shirt will look like, and our service team is available seven days a week to help you; they'll even make suggestions on how to keep your order costs down. An expert artist reviews every order, ensuring that your t shirt screen printing looks awesome. We offer a money-back guarantee, and our standard free shipping means your order will arrive within 14 days. We have a rush service with delivery in 7 days.</p>
                    <p>Designing your own tshirts is easy and fast with CustomInk. And, if you've never ordered custom clothing on the Internet before, not to worry. We've got t shirt printing down to a science, while preserving your art.</p>
                </div>

                <div class="row">
                    <div class="ser_wrap_3 option3">
                        <div class="col-xs-12 col-md-3 col-sm-12">
                            <ul>
                                <li>
                                    <div class="icon_ser">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <div class="wrap">
                                        <h3>Creative artistic prints</h3>
                                        <p>We have a solid design background and an outstanding team of the designers, so we are able to create images metting places spirit. We are strong in creating hot prints for towns, turistic spots, historical places, so our shirts become bestsellers.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-md-3 col-sm-12">
                            <ul>
                                <li>
                                    <div class="icon_ser"><i class="fa fa-picture-o"></i></div>
                                    <div class="wrap">
                                        <h3>Unlimited abilities</h3>
                                        <p>We may print any picture, drawing or a photo! Maximum size is A2 42x70. We print on white, black and color shirts. We always have at least 20 color varietes. Men's, women's, child's shirts from 5XS upto 3XL. Svinshots, hoodies, bags and caps.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-3 col-sm-12">
                            <ul>
                                <li>
                                    <div class="icon_ser"><i class="fa fa-cogs"></i></div>
                                    <div class="wrap">
                                        <h3>High quality</h3>
                                        <p>We really care about the quality of our production. We use high-quality materials and state of the art enterprise technology of textile printing. That lets us to gurantee a long life time for our production.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-3 col-sm-12">
                            <ul>
                                <li>
                                    <div class="icon_ser"><i class="fa fa-globe"></i></div>
                                    <div class="wrap">
                                        <h3>Friendly service</h3>
                                        <p>We value our clients and their time, so we provide a flexible approach. We serve individual retail orders as well as small and medium size wholesale orders. We proceed retail orders in 15 minutes as we have modern machinery. And we deliver orders to our customers in Bratislava and outskirts in 3 days.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Portfolio -->
<!-- Ordering -->
<div id="order" class="order page-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class=" container TitleSection">
                    <header class="page-head">
                        <h1>
                            @LocView["Order your printing <small> online</small>"]
                        </h1>
                    </header>
                </div>
                <p class="first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris. aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris.</p>
                <div style="height: 600px; background-color: rgb(118, 126, 158); align-items: center; justify-content: center; color: rgb(158, 166, 198); font-size: 3em; display: flex; border: 4px solid rgb(158, 166, 198); opacity: 0.8;">
                    <strong>Placeholder</strong>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ordering -->
<!--Contact -->
<div id="contact" class="contact page-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class=" container TitleSection">
                    <header class="page-head">
                        <h1>
                            @LocView["Contact <small> Us</small>"]
                        </h1>
                    </header>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-7 col-sm-12">
                        <p class="first">
                            Feel free to contact us regarding bulk supplies, special designs and other questions.
                        </p>
                        <p>
                            Please be patient while waiting for response. (24/7 Support!) <br>
                            <strong>Phone General Inquiries: 1-234-567-8910-1234</strong>
                        </p>

                        <div class="contact_wrap">                            
                            <h3>@LocView["Contact Form"]</h3>
                            <form method="post" action='~/@WithLang("Home/SendMail")' id="passion_form" asp-antiforgery="true">

                                <div class="form-group">
                                    <span data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                    <div>
                                        <i class="fa fa-asterisk required2" aria-hidden="true"></i>
                                        <input asp-for="MailData.Name" name="Name" id="Name" size="50" class="form-control required" placeholder="@LocView["Your Name*"]"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                    <div>
                                        <i class="fa fa-asterisk required2" aria-hidden="true"></i>
                                        <input asp-for="MailData.Email" size="50" name="Email" id="Email" class="form-control required email" placeholder="@LocView["Enter Email*"]"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input asp-for="MailData.SiteUrl" size="50" name="SiteUrl" id="SiteUrl" class="form-control" placeholder="Website"/>
                                </div>

                                <div class="form-group">
                                    <span data-valmsg-for="Message" data-valmsg-replace="true"></span>
                                    <div>
                                        <i class="fa fa-asterisk required2" aria-hidden="true"></i>
                                        <textarea asp-for="MailData.Message" class="form-control required" rows="6" name="Message" id="Message" placeholder="@LocView["Your Message*"]"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">@LocView["Send Message"]</button>
                                    <div class="recaptcha-wrap pull-right">
                                        <div id="ContactCaptcha" class="g-recaptcha" data-sitekey="6Ldu_QgUAAAAAPFY6yQOtbH1sLN0ABHcZy9rb_hw" data-theme="dark" data-size="normal"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-5 col-sm-12">
                        <div class="jumbotron">
                            <h3>@LocView["Address Info"]</h3>
                            <address>
                                <strong>Print Mood, L.L.C.</strong><br>
                                82106 Bratislava, Pri trati, 25A<br>
                                <abbr title="Phone">@LocView["Tel"]:</abbr> (123) 456-7890;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <abbr title="Fax">@LocView["Fax"]:</abbr> (123) 456-7890
                            </address>
                            <address>
                                <strong>@LocView["Email"]:&nbsp;</strong> <a href="mailto:#">info@printmood.com</a><br>
                                <strong>Web Site:&nbsp;</strong> <a href="~/">www.printmood.com</a>
                            </address>
                        </div>
                        <div class="google">
                            <h3>@LocView["Find the Address"]</h3>
                            <div id="map"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!--Contact -->
